@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:ital,wght@0,100..900;1,100..900&family=Handjet:wght@100..900&display=swap');

body {
    margin: 0;
    background-color: #F4F3F2;
    color: #111;
  }

/*Fontes*/
  h1{
    font-family: "Handjet", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2, p{
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/*Fontes FIM*/

/*Navbar*/

  .navbar-landpage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:2%;
    width: 8%;
  }

  .navegacao{
    display: flex;
    flex-direction: row;
    background-color: #d3e0dd;
    border-radius: 20px;
    position: fixed;
    width: 90%;
    margin-top: 7%;
  }

  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .itens-navegacao{
    font-family: "Handjet", sans-serif;
    font-size: 150%;
    color: black;
    text-decoration: none;
    font-size: 160%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1% 1% 1% 1%;
  }
/*Navbar FIM*/

/*Página Inicial*/

  .btn-verm {
      background-color: #ff6b6b;
    }
  .btn-azul {
    background-color: #3c4a63;
  }
  .btn-ciano {
    background-color: #c5ebe6;
  }

  .container-landpage{
    display: flex;
    flex-direction: row;
    
  }

  .texto-landpage{
    font-family: "Handjet", sans-serif;
    font-size: 400%;
    font-weight: 600;
  }

  .conteudo-landpage{
    margin-top: 30%;
    margin-bottom: 30%;
  }

/*Página Inicial FIM*/

/*Robô*/

/*Robô FIM*/

/*Arma*/

  .card-esquerda, .card-central, .card-direita {
    padding: 40px 30px;
    border: 2px solid #000;
    width: 25%;
    /*Arrumar o Height*/
    box-shadow: 3px 3px 0 #000;
    margin: 1% 1% 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titulo-arma{
    margin: 1% 1% 1% 1%;
    display: flex;
    /*Arrumar a posição*/
  }

  .imagem-pitunho{
      display: flex;
      width: 30%;
      align-items: center;
      justify-content: center;
      margin: auto;
  }

  .legenda{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
  }

  .conteudo-arma{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5%;
  }

  .container-arma{
    margin: auto;
  }
/*Arma FIM*/

/*Desenvolvimento*/
  
  .conteudo-desenvolvimento{
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
    }
  
  .titulo-desenvolvimento{
    margin: 1% 1% 1% 1%;;
  }

  .card-galeria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1% 1% 1% 1%;
    border: 2px solid #000;
    box-shadow: 3px 3px 0 #000;
  }

  .imagens-carrossel{
    margin: 1% 1% 1% 1%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4%;
  }

  .card-planejamento, .card-prototipagem, .card-final{
    padding: 40px 30px;
    width: 50%;
    margin: 1% 1% 1% 1%;
    border: 2px solid #000;
    box-shadow: 3px 3px 0 #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/*Desenvolvimento FIM*/

/*Equipe*/

.card-equipe {
    padding: 40px 30px;
    margin: auto;
    width: 50%;
    border: 2px solid #000;
    box-shadow: 3px 3px 0 #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/*Equipe FIM*/

/*Contato*/
  .form-container {
    padding: 40px 30px;
    width: 50%;
    border: 2px solid #000;
    box-shadow: 3px 3px 0 #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Contato{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .campo-1, .campo-2, .campo-3{
    font-family: "Exo", sans-serif;
    margin: 1% 1% 1% 1%;
    padding: 10px;
    border: 2px solid #000;
    width: 100%;
  }

  .texto-contato{
    margin-top: 1%;
    margin-bottom: 5%;
  }

  .campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250%;
    margin-bottom: 7%;
  }

  .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

/*Contato FIM*/

/*Footer*/
  footer {
    background-color: #DEDCDC;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    font-family: "Handjet", sans-serif;
  }
/*Footer FIM*/
